{% extends "layouts/main.twig" %}

{% block bodyId %}crea-associazione{% endblock %}
{% block metaTitle %}Crea associazione{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column"></div>
                <div class="column is-half">
                    <form action="{{ path_for('associationsCreate')|e('html_attr') }}" method="post">
                        <div class="field">
                            <label class="label">Nome</label>
                            <p class="control has-icons-left">
                                <input class="input" type="text" name="nomeAssociazione" value=""
                                       placeholder="Nome associazione">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-edit"></i>
                                </span>
                            </p>
                        </div>

                        <div class="field">
                            <label class="label">Logo</label>
                            <p class="control has-icons-left">
                                <input class="input" type="text" name="logo" value="" placeholder="logo.jpg">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-image"></i>
                                </span>
                            </p>
                        </div>

                        <div class="select is-multiple">
                            <label class="label">Membri:
                                <select multiple size="5" name="membri[]">
                                    {% for membro in membri %}
                                        <option value="{{ membro.idUtente }}">
                                            {{ membro.nome }} {{ membro.cognome }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>

                        <div class="is-small">&nbsp;</div>

                        <div class="field is-expanded">
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-static">
                                        +39
                                    </a>
                                </p>
                                <p class="control is-expanded">
                                    <input class="input" name="telefono" type="tel" placeholder="Numero di telefono">
                                </p>
                            </div>
                        </div>

                        <div class="is-small">&nbsp;</div>

                        <label class="label">Stile:</label>
                        <div class="field">
                            <input name="stile" type="color" value="#000000">
                        </div>

                        <div class="is-small">&nbsp;</div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-primary">Crea</button>
                            </div>
                            <div class="control">
                                <p class="is-light" onclick="goBack();">Annulla</p>
                            </div>
                        </div>

                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                        <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
                    </form>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </section>
{% endblock %}