{% extends "layouts/main.twig" %}

{% block bodyId %}elimina-finanziamento{% endblock %}
{% block metaTitle %}Elimina finanziamento{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column"></div>
                <div class="column is-half">
                    <form action="{{ path_for('fundingDelete',
                        {'eventID':funding.idEvento, 'sponsorID':funding.idSponsor})|e('html_attr') }}"
                          method="post">
                        <p>
                            Evento: <strong>{{ funding.titolo }} (#{{ funding.idEvento }})</strong>
                        </p>
                        <p>
                            Sponsor: <strong>{{ funding.nome }} (#{{ funding.idSponsor }})</strong>
                        </p>
                        <p>
                            Importo: <strong>{{ funding.importo }} €</strong>
                        </p>
                        <p>
                            Data: <strong>{{ funding.dataFinanziamento|date('d/m/Y') }}</strong>
                        </p>
                        <p>
                            Vuoi eliminare definitivamente il finanziamento?

                        </p>

                        <div class="is-small">&nbsp;</div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-danger">Elimina</button>
                            </div>
                            <div class="control">
                                <p class="button is-light" onclick="goBack();">Annulla</p>
                            </div>
                        </div>

                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                        <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
                    </form>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </section>
{% endblock %}