{% extends "layouts/main.twig" %}

{% block bodyId %}finanziamento{% endblock %}
{% block metaTitle %}Finanziamento{% endblock %}

{% block content %}
    <section class="section">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-two-thirds">
                <a class="button is-primary" href="{{ path_for('fundingCreate')|e('html_attr') }}">
                    Aggiungi finanziamento
                </a>

                <div class="is-small">&nbsp;</div>

                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>Evento</th>
                        <th>Sponsor</th>
                        <th><span class="nav-right">Importo (€)</span></th>
                        <th>Data</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if eventi|length > 0 %}
                        {% for e in eventi %}
                            {% for f in e.finanziamento %}
                                <tr>
                                    {% if loop.first %}
                                        <td>{{ e.titolo }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    <td>
                                        {{ f.nomeSponsor }}
                                    </td>
                                    <td>
                                        <span class="nav-right">
                                            {% if f.importo is defined %}
                                                {{ f.importo }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td>
                                        {{ f.dataFinanziamento|date('d/m/Y') }}
                                    </td>
                                    <td>
                                        <a class="button is-small"
                                           href="{{ path_for('fundingEdit',
                                           {'eventID':e.idEvento, 'sponsorID':f.idSponsor})|e('html_attr') }}">
                                            Modifica
                                        </a>
                                    </td>
                                    <td>
                                        <a class="button is-danger is-small"
                                           href="{{ path_for('fundingDelete',
                                           {'eventID':e.idEvento, 'sponsorID':f.idSponsor})|e('html_attr') }}">
                                            Elimina
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4"><em>Non ci sono eventi finanziati.</em></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="column"></div>
        </div>
    </section>
{% endblock %}