{% extends "layouts/main.twig" %}

{% block bodyId %}creazione-evento{% endblock %}
{% block metaTitle %}Creazione evento{% endblock %}

{% block content %}
    {%- set thisYear = "now"|date('Y') %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column"></div>
                <div class="column is-half">
                    <form action="{{ path_for('eventsCreate')|e('html_attr') }}" method="post">
                        <div class="field">
                            <label class="label">Titolo</label>
                            <p class="control has-icons-left">
                                <input class="input" type="text" name="titolo" value="" placeholder="Titolo">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-edit"></i>
                                </span>
                            </p>
                        </div>

                        <div class="field">
                            <label class="label">Descrizione</label>
                            <div class="control">
                                <textarea name="descrizione" class="textarea" placeholder="Descrizione"></textarea>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Data e ora inizio</label>
                            <div class="columns">
                                <div class="column">
                                    <div class="columns">
                                        <div class="column">
                                            <div class="select">
                                                <select name="giornoInizio">
                                                    {% for i in range(1, 31) %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="select">
                                                <select name="meseInizio">
                                                    {% for i in range(1, 12) %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="select">
                                                <select name="annoInizio">
                                                    {% for i in range(thisYear, thisYear+3) %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="column"></div>

                                <div class="column">
                                    <div class="columns">
                                        <div class="column">
                                            <div class="select">
                                                <select name="oraInizio">
                                                    {% for i in range(0, 23) %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="select">
                                                <select name="minutoInizio">
                                                    {% for i in range(0, 59) %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Data e ora fine</label>
                            <div class="columns">
                                <div class="column">
                                    <div class="columns">
                                        <div class="column">
                                            <div class="select">
                                                <select name="giornoFine">
                                                    {% for i in range(1, 31) %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="select">
                                                <select name="meseFine">
                                                    {% for i in range(1, 12) %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="select">
                                                <select name="annoFine">
                                                    {% for i in range(thisYear, thisYear+3) %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="column"></div>

                                <div class="column">
                                    <div class="columns">
                                        <div class="column">
                                            <div class="select">
                                                <select name="oraFine">
                                                    {% for i in range(0, 23) %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="select">
                                                <select name="minutoFine">
                                                    {% for i in range(0, 59) %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="select is-multiple">
                            <label class="label">
                                {% if associazioni|length > 1 %}
                                    Associazioni:
                                {% else %}
                                    Associazione:
                                {% endif %}
                            </label>
                            <select multiple size="5" name="associazioni[]">
                                {% for ass in associazioni %}
                                    <option value="{{ ass.idAssociazione }}">{{ ass.nomeAssociazione }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="is-small">&nbsp;</div>

                        <label class="label">
                            Associazione primaria:
                        </label>
                        <div class="select">
                            <select name="assPrimaria">
                                {% for ass in associazioni %}
                                    <option value="{{ ass.idAssociazione }}">{{ ass.nomeAssociazione }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="is-small">&nbsp;</div>

                        {% if utente.idUtente is defined %}
                            {% if utente.ruolo == 'Amministratore' or utente.ruolo == 'Direttore'
                                or utente.ruolo == 'Publisher' %}
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                            <input type="checkbox" name="revisionato">
                                            Approvato
                                        </label>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-primary">Crea</button>
                            </div>
                            <div class="control">
                                <p class="button is-light" onclick="goBack();">Annulla</p>
                            </div>
                        </div>

                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                        <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
                    </form>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </section>
{% endblock %}