{% extends "layouts/main.twig" %}

{% block bodyId %}home{% endblock %}
{% block metaTitle %}Home{% endblock %}

{% block content %}
    <section class="section">
        {% if eventi|length > 0 %}
            {% for evento in eventi %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                {% set eventoImg = 'stemma-concamarise.gif' %}

                                {% if evento.logoPrimario != '' %}
                                    {% set eventoImg = evento.logoPrimario %}
                                {% endif %}

                                <img src="{{ baseUrl }}/assets/img/associations/{{ eventoImg }}" alt="Immagine evento {{ evento.idEvento }}">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>
                                        <a href="{{ path_for('page', {'id': evento.idEvento })|e('html_attr') }}">
                                            {{ evento.titolo }}
                                        </a>
                                    </strong>.
                                    Inizio: <small>{{ evento.istanteInizio|date('d/m/Y H:i') }}</small> - Fine: <small>{{ evento.istanteFine|date('d/m/Y H:i') }}</small>
                                    <br>
                                    {{ evento.descrizione }}
                                </p>
                            </div>
                            <div class="content is-clearfix">
                                <div class="tags has-addons">
                                    <span class="tag">Stato</span>
                                    {% if date().format('Ymdhi') > evento.istanteFine|date('Ymdhi') %}
                                        <a class="tag is-danger">Concluso</a>
                                    {% else %}
                                        <a class="tag is-success">Disponibile</a>
                                    {% endif %}
                                </div>
                            </div>
                            <nav class="content">
                                <div class="level-left">
                                    <p>
                                        <em>
                                            {% if ',' in evento.nomeAssociazione %}
                                                Associazioni:
                                            {% else %}
                                                Associazione:
                                            {% endif %}

                                            {{ evento.nomeAssociazione }}
                                        </em>
                                    </p>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            {% endfor %}

            <div class="columns">
                <div class="column"></div>
                <nav class="pagination column is-half is-centered" role="navigation" aria-label="pagination">
                    <ul class="pagination-list">
                        {% set page_cnt = 0 %}
                        {% for page_num in 0..numero_eventi %}
                            {% if (page_num % 10) == 0 or page_num == 0 %}
                                {% set page_cnt = page_cnt + 1 %}
                                <li>
                                {% if page_cnt == pagina_attuale %}
                                    <a class="pagination-link is-current" aria-label="Page {{ page_cnt }}"
                                       href="{{ path_for('history')|e('html_attr') }}{{ page_cnt }}">
                                        {{ page_cnt }}
                                    </a>
                                {% else %}
                                    <a class="pagination-link" aria-label="Goto page {{ page_cnt }}"
                                        href="{{ path_for('history')|e('html_attr') }}{{ page_cnt }}">
                                        {{ page_cnt }}
                                    </a>
                                {% endif %}
                                </li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </nav>
                <div class="column"></div>
            </div>
        {% else %}
            <h3><em>Non ci sono eventi.</em></h3>
        {% endif %}
    </section>
{% endblock %}