{% extends "layouts/main.twig" %}

{% block bodyId %}home{% endblock %}
{% block metaTitle %}Home{% endblock %}

{% block content %}
    <section class="section">
        {% if eventi|length > 0 %}
                {% for evento in eventi %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    {% set eventoImg = 'stemma-concamarise.gif' %}

                                    {% if evento.logoPrimario != '' %}
                                        {% set eventoImg = evento.logoPrimario %}
                                    {% endif %}

                                    <img src="{{ baseUrl }}/assets/img/associations/{{ eventoImg }}"
                                         alt="{{ evento.nomeAssPrimaria }}">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <div class="level">
                                        <div class="level-left">
                                            <div class="level-item">
                                                <strong>
                                                    <a href="{{ path_for('page', {'id': evento.idEvento })|e('html_attr') }}">
                                                        {{ evento.titolo }}
                                                    </a>
                                                </strong>
                                            </div>
                                            <div class="level-item">
                                                <small>{{ evento.istanteInizio|date('d/m/Y H:i') }}</small>
                                            </div>
                                            <div class="level-item">
                                                al&nbsp;&nbsp;<small>{{ evento.istanteFine|date('d/m/Y H:i') }}</small>
                                            </div>
                                        </div>
                                        <div class="level-right">
                                            <div class="level-item">
                                                <a href="{{ path_for('eventsEdit', {'id': evento.idEvento })|e('html_attr') }}">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </div>
                                            <div class="level-item">
                                                <a href="{{ path_for('eventsPage', {'id': evento.idEvento })|e('html_attr') }}">
                                                    <i class="fa fa-align-left"></i>
                                                </a>
                                            </div>
                                            <div class="level-item">
                                                <a href="{{ path_for('eventsDelete', {'id': evento.idEvento })|e('html_attr') }}">
                                                    <i class="fa fa-trash is-danger"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {{ evento.descrizione }}
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <p><em>
                                            {% if ',' in evento.nomeAssociazione %}
                                                Associazioni:
                                            {% else %}
                                                Associazione:
                                            {% endif %}

                                            {{ evento.nomeAssociazione }}
                                        </em></p>
                                    </div>
                                </nav>
                            </div>
                        </article>
                    </div>
                {% endfor %}
        {% else %}
            <h3><em>Non ci sono eventi programmati.</em></h3>
        {% endif %}
    </section>
{% endblock %}